.sidebar-course {
    background-color: #FFF;
    border-radius: 4px;
    display: block;
    margin-bottom: 30px;
    padding: 18px;
    position: relative;
    width: 100%;
}
.sidebar-course .info-course {
    display: block;
    width: 100%;
    position: relative;
}
.sidebar-course .info-course .item {
    position: relative;
}
.sidebar-course .info-course .item h4 {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #666;
    line-height: 1.4em;
    margin: 0;
}

hr.line {
    margin: 0;
    width: 100%;
    height: 0;
    border-top:1px solid #eee;
}

.separador {
    border-bottom:1px solid #eee;
}
.leccion-item {
    font-family: 'Noto Sans', sans-serif;
    padding-left: 55px;
}
.leccion-item:hover {
    background: #f7f7f9;
}
.leccion-titulo {
    font-size: 17px;
}
.leccion-index {
    background: #f3f3f3;
    bottom:0;
    font-weight: bold;
    height: 100%;
    left: 0;
    padding: 10px 0px;
    position: absolute;
    text-align: center;
    top:0;
    width: 40px;
}
